#div {
    height: 150px;
    width: 150px;
    background-image: url("/assets/4.jpg");
    background-size: cover;
    /* it capture all container to fit photo */
    position: absolute;
    /* actual place se mannualy shifting karna  */
    right: 0px;
    /* shifting to right browser side */
}

#icon {
    width: 50px;
    height: 40px;
    background-image: url("/assets/icon.jpg");
    background-size: cover;
    border-radius: 50%;
    /* make container circle */
    position: fixed;
    /* make one palce fix */
    bottom: 10px;
    right: 10px;
}